#about-header {
  display: flex;
  width: 100%;
  margin: 6rem auto;

  & > * {
    width: 100%;
  }

  img {
    display: block;
    object-fit: scale-down;
  }

  p {
    margin: 1rem 0;
  }

  h1 {
    margin-bottom: 0;
    line-height: 2.5rem;
  }

  h2 {
    color: var(--grey);
    margin-bottom: 0;

  }

  #description {
    text-align: left;
    padding-right: 1rem;
    box-sizing: border-box;
  }

}

#page #about-skills {
  // width: 100%;
  // box-sizing: border-box;
}

#about-skills {
  margin-bottom: 6rem;
  width: 100% !important;
  box-sizing: border-box;

  & > * {
    width: 100%;
  }

  h2 span.brackets {
    display: block;
  }
}

.project-header--list {
  margin-bottom: 2rem;
  width: 50%;

  span {
    display: inline-block;
    padding-bottom: 0.5rem;
  }

  ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
    font-family: 'PT Mono', monospace;
  }

}

.listgroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 425px) {

  #about-skills {
    box-sizing: border-box;

    h2 span.brackets {
      display: inline;
    }

    .listgroup {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

@media (min-width: 768px) {

  #about-header {
    justify-content: space-between;
    align-items: center;
    flex-direction: row !important;

    & > * {
      width: 49%;
    }


  }

  #about-skills {

    h2 {
      font-size: 1.2rem;
    }

  }


}

@media (min-width: 1200px) {

  #about-skills {
    width: 1200px !important;
    box-sizing: content-box;
  }
  .project-header--list {
    width: auto;
  }
}
