@keyframes fadeIn {
  0% {opacity: 0},
  100% {opacity: 1}
}

#home-container {
  margin: auto;
  align-items: center;
}

#home h1 {
  margin: 0;
  margin-top: -18px;
}

@media (min-width: 768px) {
  #home h1 {
    margin-top: -25px;
  }
}

#home h1 span{
  color: var(--light-blue)
}

#home img {
  margin: 1.5rem;
  width: 200px;
  height: 200px;
}

#home .center p {
  margin: 0;
  text-align: left;
}

#home p#hi {
  font-size: 1.2rem;
}

#home p#text {
  max-width: 250px;
  margin-top: -15px;
}

@media (max-width: 550px){
  .home {
    display: flex;
    padding-top: 0;
  }
}

#scroll {
  position: absolute;
  font-family: 'PT Mono', monospace;
  bottom: 48px;
  display: block;
  width: 100%;
  text-align: center;
  color: var(--lighter);
}

#scroll a{
  display: inline-block;
}

#scroll span {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid var(--lighter);
  border-bottom: 2px solid var(--lighter);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: arrow-fade 1.5s infinite;
  animation: arrow-fade 1.5s infinite;
  box-sizing: border-box;
}

#scroll small#scroll-text {
  margin-top: 80px;
  display: inline-block;
}

#scroll small#scroll-text:hover {
  text-decoration: underline;
}

@keyframes arrow-fade {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
