:root {
    /* --med: #3900EA; */
    --med: #2C36F2;
    --grey: #536380;
    --lighter: #4D4DFF;
    --light-blue: #9CBBFF;
    --darker-white: #edf0f5;
    --almost-white: rgba(156, 187, 255,.1);
    --black: #18171f;
}

/* #E9F1FF */

@import url('https://fonts.googleapis.com/css?family=PT+Mono|Rubik:400,700&display=swap');

html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    /* font-size: 20px; */
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Rubik', sans-serif;
  color: var(--grey);
}

p, .function {
  font-family: 'Rubik', sans-serif;
}

a, button {
  color: var(--med);
}

button {
  background: none;
  display: inline-block;
  padding: 0;
  border: 0;
  cursor: pointer;
  text-align: left;
}

button:focus {
  outline: none;
}

h1, h2, h3 {
  font-family: 'Rubik', sans-serif;
}

h1, h2 {
  color: var(--med);
}

h1 {
  color: var(--med);
  font-size: 3.6rem;
  font-weight: 700;
}

h2 {
  font-family: 'PT Mono', monospace;
  font-size: 1.3rem;
  margin-bottom: 3rem;
  font-weight: normal;
  width: 100%;
}

h3 {
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  color: var(--black);
  margin: 0;
  font-weight: 700;
}

hr {
  border: var(--med) solid 1px;
  margin: 0 -1rem;
}

a svg:not(:root).svg-inline--fa {
  overflow: hidden;
  width: 1.5rem;
}

footer {
  margin-top: 3rem;
  font-size: 1.5rem;
  background-color: var(--almost-white);
  padding: 0.5rem 0 1rem 0;
}

footer #socials {
  display: flex;
  justify-content: center;
}

footer a {
  margin-right: 20px;
  display: inline-block;
  max-height: 2rem;
  color: var(--med);
  overflow: hidden;
}

footer a:last-of-type {
  margin-right: 0;
}

footer p {
  font-size: 0.75rem;
  text-align: center;
}

footer a:hover {
  color: black;
}

figcaption {
  font-size: 14px;
  font-style: italic;
}

/* List styles */

/* classes and ids */
.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#top-bar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  padding: 16px 16px;
  box-sizing: content-box;
  background-color: rgba(255, 255, 255, 1);
  /* box-shadow: 0 13px 8px -8px rgba(0,0,0,.05); */
}

#top-bar a {
  text-decoration: none;
}

#top-bar #nav-links a {
  font-family: 'PT Mono', monospace;
}

#top-bar a:hover, #menu a:hover{
  color: var(--med);
  text-decoration: none;
}

#top-bar h2 {
  margin: 0;
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  width: auto;
}

.shadow-container {
  padding-top: 3px;
  position: relative;
}

.shadow-container > * {
  position: absolute;
}

.shadow {
  left: -2px;
  opacity: 0.1;
}

#menu {
  display: inline-block;
  color: var(--med);
  padding: 0;
  margin: 0;
  list-style: none;
}

#menu {
  /* display: none; */

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  background-color: var(--black);
  padding: 1.5rem;
  text-align: center;
  line-height: 4rem;
  box-shadow: none;

  transform: translateY(-100%);
  transition: ease-in .2s;
}

#menu.is-expanded {
  display: block;
  box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3), 0 -18px 60px -10px rgba(0,0,0,.025);
  transform: translateY(0);
}

#menu a {
  color: white;
}

#menu a:hover {
  color: var(--black)
}

#menu.is-expanded + .hamburger {
  color: white;
}

#menu #menu-resume a {
  color: white;
  background-color: var(--med);
  padding: 8px 1rem;
}

#menu #menu-resume a:hover {
  background-color: var(--black);
}

#nav-links .hamburger {
  font-size: 2rem;
  color: var(--med);
  text-align: right;
  margin-top: -12px;
  position: relative;
  z-index: 3;
}

#page {
  flex-grow: 1;
  margin-top: 97px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#page .page-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  /* width: 100%; */
  width: auto;
  box-sizing: border-box;
}

#page h2 span.brackets {
  color: var(--black);
  display: block;
}

#page h3 a:hover {
  color: var(--med);
}

#page .highlight {
  background-image: linear-gradient(to top,rgba(156, 187, 255,.25) 54%,transparent 54%,transparent 100%);
  text-decoration: none;
}

.project-video {
  padding-bottom: 58.5417%;
  position: relative;
  max-width: 100%;
  /* height: 0px; */
  overflow: hidden;
}

.project-video iframe, .project-video object, .project-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 425px) {
  #top-bar {
    padding: 24px 24px;
  }

  #top-bar h2 {
    font-size: 1rem;
    line-height: 1rem;
  }

  #page .page-section {
    padding: 0 24px;
  }

  h3{
    font-size: 1.75rem;
  }

  h1{
    font-size: 3rem;
  }

}

@media (min-width: 768px) {


  h2 {
    font-size: 1.25rem;
  }

  #page h2 span.brackets {
    display: inline;
  }

  #page .page-content {
    margin: 0 auto;
  }

  .project-video {
    padding-bottom: 41.4583%;
  }

}

@media (min-width: 980px) {

  #menu li {
    letter-spacing: 1px;
    display: inline-block;
    margin: 0 2rem;
  }

  #menu #menu-about {
    margin-right: 1rem;
  }

  #menu li:last-child {
    margin-right: 0;
  }

  #menu .slash {
    display: inline-block;
  }

  #nav-links .hamburger {
    display: none;
  }

  #menu {
    display: block;
    position: static;

    box-sizing: border-box;
    background-color: white;
    padding: 0;
    line-height: normal;
    box-shadow: none;
    transform: none;
    transition: none;
  }

  #menu a {
    color: var(--med);
  }

  #page .page-section, #top-bar {
    /* padding: 0; */
    width: auto;
  }

}

@media (min-width: 1200px){


  #top-bar {
    padding-top: 40px;
  }

  #page .page-section, #top-bar {
    width: 1000px;
  }

}




.full-for-center {
  /* width: 100%; */
  /* padding: 2rem; */
  align-items: center;
  /* display: flex; */
  animation-name: fadeIn;
  animation-duration: 2s;
  box-sizing: border-box;
}

.center {
  /* margin:auto; */
  text-align: center;
}

.social path {
  fill: var(--med);
}
