#projects {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  min-height: 100vh;
}

#content {
  /* border: var(--light-blue) solid 1px; */
  padding: 0 1rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
  flex-grow: 1;
}

#menu {
  /* display: flex;
  align-items: center; */
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 13px 8px -8px rgba(0,0,0,0.08);
  margin: 0;
  padding: 0 1rem
}

@media (min-width: 768px) {
  #content {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  #menu {
    margin: 0 3rem;
    padding: 0 2rem
  }
}

@media (min-width: 1440px) {
  #content {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  #menu {
    margin: 0 8rem;
    padding: 0 2rem
  }
}

#menu > div {
  padding: 2rem 0;
}

#menu h2 {
  margin: 0;
  margin-right: 0.5rem;
}

#menu h2 {
  display: inline-block;
}

#menu h2.active a {
  color: var(--dark);
}

#menu h2.active::before, #menu h2.active::after {
  font-size: 2rem;
  font-weight: normal;
  color: var(--med);
}

#menu h2.active::before {
  content: '{';
  margin-right: 0.5rem;
}

#menu h2.active::after {
  content: '}';
  margin-left: 0.5rem;
}

#menu .not-active a {
  color: var(--light-blue);
  /* opacity: 0.8; */
}

#design {
  display: flex;
}

.gallery-col {
  width: 33%;
  text-align: center;
}

#mid-col {
  margin: 0 20px;
}

.gallery-col img {
  width: 100%;
  /* border: 1px solid black; */
  margin-bottom: 20px;
}

.gallery-col img:hover {
  /* box-shadow: 0 0 1rem -2px var(--light-blue); */
}

.slashes {
  float: left;
}
